.stopAudioModalButton, .cancelAudioModalButton, .sendAudioModalButton{
    background-color: rgb(41, 135, 212);
    border: .1rem solid grey;
    padding: 1rem;
    font-weight: bold;
    border-radius: 3rem;
    cursor: pointer;
    /* margin: 1rem; */
}

.audioModalButtons{
    display: flex;
    justify-content: space-around;
}

.audioPreviewAudioModal{
    width: 60%;
    margin: 1rem 20%;
}

.audioCanvasModal{
    width: 60%;
    margin: 2% 20%;
}
@media screen and (max-width: 1000px) {
    .audioCanvasModal{
        width: 65%;
        margin: 5% 17.5%;
    }
}

@media screen and (max-width: 650px) {
    .audioCanvasModal{
        width: 70%;
        margin: 1% 15%;
    }
}